.list-item {
  &--no-style::before {
    display: none !important;
  }
}

.text {
  &--light {
    color: var(--color-fontSecondary-70) !important;
  }
}

.margin {

  &-top {

    &--1 {
      margin-top: 11px;
    }
  }
}
