.layout {
  width: 100%;

  padding: 155px 0 44px;

  @media (min-width: 992px) {
    padding: 165px 0;
    padding-left: 418px;
  }
}

.nav {
  position: absolute;
  top: 33px;
  left: auto;
  height: 33px;

  padding: 0 22px 0 33px;
  margin-bottom: 88px;

  @media (min-width: 576px) {
    top: 44px;
    left: 418px;

    padding: 0 99px 0 66px;
    margin-bottom: 88px;
  }
}

.aside {
  position: fixed;
  display: none;

  height: 100%;
  width: 418px;

  top: 0;
  left: 0;

  padding: 33px 0 44px 33px;

  &__logo {
    display: inline-block;

    margin-bottom: 88px;

    @media (min-width: 992px) {
      margin-bottom: 231px;
    }
  }

  @media (min-width: 992px) {
    display: block;
    padding: 44px 0 44px 88px;
  }
}
