.display {
  &--flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }

  &--inline-block {
    display: inline-block !important;
  }

  &--none {
    display: none !important;
  }

  &--block {
    display: block !important;
  }

  &-sm {
    @media (min-width: 992px) {
      &--flex {
        display: -ms-flexbox !important;
        display: flex !important;
      }
    
      &--inline-block {
        display: inline-block !important;
      }
  
      &--none {
        display: none !important;
      }

      &--block {
        display: block !important;
      }
    }
  }

}
