.text {

  /* colors */
  &--color {

    &--blue {
      color: var(--color-blue) !important;
    }

    &--secondary {
      color: var(--color-fontSecondary) !important;

      &--light {
        color: var(--color-fontSecondary-light) !important;
      }
    }

    &--light {
      color: var(--color-fontSecondary-70) !important;
    }
  }

  /* weight */
  &--weight {

    &--medium {
      font-weight: 500 !important;
    }

    &--semi-bold {
      font-weight: 600 !important;
    }

    &--bold {
      font-weight: 700 !important;
    }
  }

  /* alignment */
  &--right {
    text-align: right !important;
  }

  &--left {
    text-align: right !important;
  }

  /* size */
  &--size {

    &--small {
      font-size: 11px;
      line-height: 33px;
      vertical-align: middle;
    }

    &--medium {
      font-size: 12px;
      vertical-align: middle;
    }

    &--normal {
      font-size: 15px;
      line-height: 33px;
      letter-spacing: 0.002em;
      vertical-align: middle;
    }
  }

  /* decoration */
  &--no-decoration {
    text-decoration: none !important;
  }
}