.lead {
  display: inline-block;
  vertical-align: top;
  width: 100%;

  font-size: 12px;
  line-height: 22px;
  font-weight: 500;
  letter-spacing: 0.008em;
}

.link {

  &_main {
    font-size: 15px;
    line-height: 33px;
    font-weight: 600;
    letter-spacing: 0.002em;
    text-decoration: none;

    color: var(--color-fontSecondary-light);

    &:hover {
      color: var(--color-fontSecondary-70);
    }
  
    &.is-active {
      color: var(--color-fontSecondary);
    }
  }

  &_small {
    font-size: 12px;
    font-weight: 500;
    color: var(--color-fontSecondary-70);
  }
}

.blockcode {
  display: block;
  max-width: 594px;

  padding: 22px 22px 22px 33px;

  margin: 22px 0;
  margin-left: -33px;
  margin-right: -22px;

  font-family: 'Menlo', 'Monaco', 'Courier New', monospace;
  font-size: 13px;
  font-weight: 500;

  color: #fff;
  background-color: var(--color-bgCode);

  @media (min-width: 576px) {
    padding: 22px 22px;
    margin-right: -22px;
    margin-left: -22px;

    border-radius: 2px;
  }
}