.lead {
  display: inline-block;
  vertical-align: top;

  font-size: 12px;
  line-height: 22px;
  font-weight: 500;
  letter-spacing: 0.008em;
}

.link {

  &_main {
    font-size: 15px;
    line-height: 33px;
    font-weight: 600;
    letter-spacing: 0.002em;

    color: var(--color-fontSecondary-light);

    &:hover {
      color: var(--color-fontSecondary-70);
    }
  
    &.is-active {
      color: var(--color-fontSecondary);
    }
  }

  &_small {
    font-size: 12px;
    font-weight: 500;
  }
}

.list--aside {

  & ol,
  & ul {
    padding-left: 22px;
  }

  & li {
    position: relative;

    &::before {
      content: '—';
      position: absolute;
      display: inline-block;
      width: 22px;
      height: auto;

      left: -22px;
      top: 0;
      line-height: 33px;
      text-align: left;

      background-color: transparent;
      color: var(--color-fontSecondary-light);

      @media (min-width: 576px) {
        left: -22px;
      }
    }
  }
}