.content {
  width: 100%;
  max-width: 715px;

  padding: 0 22px 0 33px;
  margin-bottom: 88px;

  @media (min-width: 576px) {
    padding: 0 99px 0 66px;
    margin-bottom: 88px;
  }
}

.layout {
  width: 100%;

  padding: 165px 0 0;

  @media (min-width: 992px) {
    padding: 176px 0 0 418px;
  }
}

.footer {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.nav {
  position: absolute;
  height: 33px;

  top: 33px;
  left: auto;

  padding: 0 22px 0 33px;

  @media (min-width: 576px) {
    top: 44px;

    padding: 0 99px 0 66px;
  }

  @media (min-width: 992px) {
    left: 418px;
  }
}

.aside {
  position: fixed;
  display: none;

  height: 100%;
  width: 100%;

  top: 0;
  left: 0;

  padding: 33px 0 44px 33px;
  background-color: var(--color-bgMain-99);

  &__logo {
    display: inline-block;
    max-height: 33px;

    margin-bottom: 132px;

    & img {
      margin-left: 0 !important;
    }

    @media (min-width: 992px) {
      margin-bottom: 253px;
    }
  }

  &__list {

    & ol,
    & ul {
      padding-left: 22px;
    }
  
    & li {
      position: relative;
  
      &::before {
        content: '—';
        position: absolute;
        display: inline-block;
        width: 22px;
        height: auto;
  
        left: -22px;
        top: 0;
        line-height: 33px;
        text-align: left;
  
        background-color: transparent;
        color: var(--color-fontSecondary-light);
  
        @media (min-width: 576px) {
          left: -22px;
        }
      }
    }
  }

  @media (min-width: 992px) {
    display: block;
    width: 418px;
    padding: 44px 0 44px 88px;
  }

  &.is-shown {
    display: block !important;
  }
}
