.layout {
  width: 100%;

  padding: 33px 0 0;

  @media (min-width: 992px) {
    padding: 44px 0 0 418px;
  }
}

.content {
  width: 100%;
  max-width: 715px;

  padding: 0 22px 0 33px;
  margin-bottom: 88px;

  @media (min-width: 576px) {
    padding: 0 99px 0 66px;
  }
}

.nav {
  height: 33px;
  margin-bottom: 88px;
}

.aside {
  position: fixed;
  display: none;

  height: 100%;
  width: 100%;

  top: 0;
  left: 0;

  padding: 33px 0 44px 33px;
  background-color: var(--color-bgMain-99);

  &__logo {
    display: inline-block;
    max-height: 33px;

    margin-bottom: 132px;

    & img {
      margin-left: 0 !important;
    }

    @media (min-width: 992px) {
      margin-bottom: 253px;
    }
  }

  @media (min-width: 992px) {
    display: block;
    width: 418px;
    padding: 44px 0 44px 88px;
  }

  &.is-shown {
    display: block;
  }
}

.footer {}
