@import 'flex.css';

.list {

  &--inline {

    & li {
      display: inline-block;

      &::after {
        content: '|';

        margin: 0 0.8em 0 1em;
      }

      &:nth-last-of-type(1)::after {
        content: '';
      }
    }
  }

  &--style-none {

    & li::before {
      display: none !important; 
    }
  }

  &-item {

    &--style-none {

      &::before {
        display: none !important; 
      }
    }
  }
}

.text {

  /* colors */
  &--blue {
    color: var(--color-blue) !important;
  }

  &--secondary {
    color: var(--color-fontSecondary) !important;
  }

  &--light {
    color: var(--color-fontSecondary-70) !important;
  }

  /* weight */
  &--bold {
    font-weight: 700 !important;
  }

  /* alignment */
  &--right {
    text-align: right !important;
  }

  /* size */
  &--small {
    font-size: 11px !important;
  }
}

.margin {

  &-top {

    &--1 {
      margin-top: 11px;
    }
  }

  &-bottom {

    &--0 {
      margin-bottom: 0;
    }

    &--1 {
      margin-bottom: 11px;
    }
  }
}

.display {
  &--flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }

  &--inline-block {
    display: inline-block !important;
  }

  &--none {
    display: none !important;
  }

  &--block {
    display: block !important;
  }

  &-sm {
    @media (min-width: 992px) {
      &--none {
        display: none !important;
      }

      &--block {
        display: block !important;
      }
    }
  }

}
