.img {
  display: inline-block;
  max-width: 100%;
  max-width: calc(100% + 55px);
  margin-left: -33px;

  @media (min-width: 576px) {
    max-width: 100%;
    max-width: calc(100% + 44px);
    margin-left: -22px;
  
    border-radius: 2px;
  }
}