.hr {
  margin-top: 0;
  margin-bottom: 21px;
  border: 0;
  border-top: 1px solid rgba(221, 221, 221, 1);
}

.strong {
  font-weight: 600;
}

.small {
  font-size: 11px;
  line-height: 33px;
  font-weight: 500;
}

.blockquote {
  max-width: 594px;

  padding: 22px 22px 22px 33px;

  margin: 22px 0;
  margin-left: -33px;
  margin-right: -22px;

  font-size: 13px;

  color: var(--color-fontMain);
  background-color: var(--color-bgYellow);

  @media (min-width: 576px) {
    padding: 22px;
    margin-right: -22px;
    margin-left: -22px;

    border-radius: 2px;
  }
}