h1, .h1 {
  font-size: 24px;
  line-height: 33px;
  font-weight: 700;
  letter-spacing: -0.014em;

  color: #333333;
  margin-bottom: 66px;
}

h2, .h2 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
  letter-spacing: -0.008em;

  color: #4A4A4A;
  margin-bottom: 22px;
  margin-top: 40px;
}

h3, .h3 {
  font-size: 15px;
  line-height: 22px;
  font-weight: 600;
  letter-spacing: -0.002em;

  color: #4A4A4A;
  margin-bottom: 22px;
  margin-top: 33px;
}