*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  font-size: var(--size-font-main);
  line-height: var(--size-fontLH-main);
  -webkit-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  
  font-feature-settings: "cv05";
}

@-ms-viewport {
  width: device-width;
}

body {
  margin: 0;
  font-family: var(--font-stack);
  font-size: 1rem;
  font-weight: 400;
  line-height: inherit;
  color: var(--color-fontMain);
  text-align: left;
  background-color: #FAFAFA;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

p {
  margin-top: 0;
  margin-bottom: 1.5rem;
}