@font-face {
    font-family: 'Inter UI';
    font-style: normal;
    font-weight: 400;
    src: url(Inter-UI-Regular.woff2) format('woff2'),
         url(Inter-UI-Regular.woff) format('woff'),
         url(Inter-UI-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Inter UI';
    font-style: normal;
    font-weight: 500;
    src: url(Inter-UI-Medium.woff2) format('woff2'),
         url(Inter-UI-Medium.woff) format('woff'),
         url(Inter-UI-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Inter UI';
    font-style: normal;
    font-weight: 600;
    src: url(Inter-UI-SemiBold.woff2) format('woff2'),
         url(Inter-UI-SemiBold.woff) format('woff'),
         url(Inter-UI-SemiBold.ttf) format('truetype');
}

@font-face {
    font-family: 'Inter UI';
    font-style: normal;
    font-weight: 700;
    src: url(Inter-UI-Bold.woff2) format('woff2'),
         url(Inter-UI-Bold.woff) format('woff'),
         url(Inter-UI-Bold.ttf) format('truetype');
}

.layout {
    width: 100%;
    padding: 155px 0 44px;
}

@media (min-width: 992px) {
    .layout {
        padding: 165px 0 44px 418px;
    }
}

.nav {
    position: absolute;
    height: 33px;
    top: 33px;
    left: auto;
    padding: 0 22px 0 33px;
}

@media (min-width: 576px) {
    .nav {
        top: 44px;
        left: 418px;
        padding: 0 99px 0 66px;
    }
}

.aside {
    position: fixed;
    display: none;
    height: 100%;
    width: 418px;
    top: 0;
    left: 0;
    padding: 33px 0 44px 33px;
}

.aside__logo {
    display: inline-block;
    margin-bottom: 88px;
}

@media (min-width: 992px) {
    .aside__logo {
        margin-bottom: 231px;
    }
}

@media (min-width: 992px) {
    .aside {
        display: block;
        padding: 44px 0 44px 88px;
    }
}

:root {
    --font-stack: 'Inter UI',
                  -apple-system,
                  BlinkMacSystemFont,
                  "Segoe UI",
                  Roboto,
                  "Helvetica Neue",
                  Arial,
                  Noto Sans,
                  sans-serif,
                  "Apple Color Emoji",
                  "Segoe UI Emoji",
                  "Segoe UI Symbol",
                  "Noto Color Emoji";
    /* Colors */
    --color-blue: rgba(0, 82, 155, 1);
    --color-blue-20: rgba(0, 82, 155, .2);
    --color-fontBlack: rgba(33, 33, 33, 1);
    --color-fontMain: rgba(51, 51, 51, 1);
    --color-fontSecondary: rgba(74, 74, 74, 1);
    --color-fontSecondary-light: rgba(155, 155, 155, 1);
    --color-fontSecondary-70: rgba(74, 74, 74, .7);
    --color-bgMain: rgba(250, 250, 250, 1);
    --color-bgYellow: rgba(255, 224, 102, .1);
    /* Size */
    --size-font-main: 14px;
    --size-fontLH-main: 22px;
}

.justify-content--between {
    justify-content: space-between !important;
}

.list--inline li {
    display: inline-block;
}

.list--inline li::after {
    content: '|';
    margin: 0 .8em 0 1em;
}

.list--inline li:nth-last-of-type(1)::after {
    content: '';
}

.list--style-none li::before {
    display: none !important;
}

.list-item--style-none::before {
    display: none !important;
}

/* colors */

.text--blue {
    color: rgba(0, 82, 155, 1) !important;
    color: var(--color-blue) !important;
}

.text--secondary {
    color: rgba(74, 74, 74, 1) !important;
    color: var(--color-fontSecondary) !important;
}

.text--light {
    color: rgba(74, 74, 74, .7) !important;
    color: var(--color-fontSecondary-70) !important;
}

/* weight */

.text--bold {
    font-weight: 700 !important;
}

/* alignment */

.text--right {
    text-align: right !important;
}

.margin-top--1 {
    margin-top: 11px;
}

.margin-bottom--0 {
    margin-bottom: 0;
}

.margin-bottom--1 {
    margin-bottom: 11px;
}

.display--flex {
    display: flex !important;
}

.display--inline-block {
    display: inline-block !important;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav,
section {
    display: block;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

[tabindex="-1"]:focus {
    outline: 0 !important;
}

@-ms-viewport {
    width: device-width;
}

ol, ul, dl {
    list-style: none;
    margin-top: 0;
}

ol ol, ul ul, ol ul, ul ol {
    margin-bottom: 0;
}

a:not([href]):not([tabindex]), a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
    text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
    outline: 0;
}

blockquote p, h1 p, h2 p, h3 p {
    margin-bottom: 0;
}

button {
    border-radius: 0;
}

button:focus {
    outline: 1px dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button, input {
    overflow: visible;
}

button, select {
    text-transform: none;
}

button, [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
    padding: 0;
    border-style: none;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    font-size: 14px;
    font-size: var(--size-font-main);
    line-height: 22px;
    line-height: var(--size-fontLH-main);
    -webkit-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-feature-settings: "cv05";
            font-feature-settings: "cv05";
}

body {
    margin: 0;
    font-family: 'Inter UI',
                 -apple-system,
                 BlinkMacSystemFont,
                 "Segoe UI",
                 Roboto,
                 "Helvetica Neue",
                 Arial,
                 Noto Sans,
                 sans-serif,
                 "Apple Color Emoji",
                 "Segoe UI Emoji",
                 "Segoe UI Symbol",
                 "Noto Color Emoji";
    font-family: var(--font-stack);
    font-size: 1rem;
    font-weight: 400;
    line-height: inherit;
    color: rgba(33, 33, 33, 1);
    color: var(--color-fontBlack);
    text-align: left;
    background-color: rgba(250, 250, 250, 1);
    background-color: var(--color-bgMain);
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

p {
    margin-top: 0;
    margin-bottom: 22px;
}

ol, ul, dl {
    margin-bottom: 22px;
}

a {
    color: #00529b;
    text-decoration: underline;
    background-color: transparent;
    cursor: pointer;
}

a:hover {
    color: #00529b;
    text-decoration: underline;
}

.content {
    width: 100%;
    max-width: 715px;
    padding: 0 22px 0 33px;
    margin-bottom: 88px;
}

@media (min-width: 576px) {
    .content {
        padding: 0 99px 0 66px;
        margin-bottom: 88px;
    }
}

.lead {
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    line-height: 22px;
    font-weight: 500;
    letter-spacing: .008em;
}

.link_main {
    font-size: 15px;
    line-height: 33px;
    font-weight: 600;
    letter-spacing: .002em;
    text-decoration: none;
    color: rgba(155, 155, 155, 1);
    color: var(--color-fontSecondary-light);
}

.link_main:hover {
    color: rgba(74, 74, 74, .7);
    color: var(--color-fontSecondary-70);
}

.link_main.is-active {
    color: rgba(74, 74, 74, 1);
    color: var(--color-fontSecondary);
}

.link_small {
    font-size: 12px;
    font-weight: 500;
}

.list--aside ol, .list--aside ul {
    padding-left: 22px;
}

.list--aside li {
    position: relative;
}

.list--aside li::before {
    content: '\2014';
    position: absolute;
    display: inline-block;
    width: 22px;
    height: auto;
    left: -22px;
    top: 0;
    line-height: 33px;
    text-align: left;
    background-color: transparent;
    color: rgba(155, 155, 155, 1);
    color: var(--color-fontSecondary-light);
}

@media (min-width: 576px) {
    .list--aside li::before {
        left: -22px;
    }
}

hr {
    margin-top: 0;
    margin-bottom: 21px;
    border: 0;
    border-top: 1px solid rgba(221, 221, 221, 1);
}

strong {
    font-weight: 600;
}

small {
    font-size: 11px;
    line-height: 33px;
    font-weight: 500;
}

blockquote {
    max-width: 594px;
    padding: 22px 11px 22px 22px;
    margin: 22px 0;
    margin-left: -22px;
    margin-right: -11px;
    font-size: 12px;
    background-color: rgba(255, 224, 102, .1);
    background-color: var(--color-bgYellow);
}

@media (min-width: 576px) {
    blockquote {
        padding: 22px;
        margin-right: -22px;
    }
}

h1 {
    font-size: 24px;
    line-height: 33px;
    font-weight: 700;
    letter-spacing: -0.014em;
    color: rgba(51, 51, 51, 1);
    color: var(--color-fontMain);
    margin-bottom: 66px;
}

h2 {
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
    letter-spacing: -0.008em;
    color: rgba(74, 74, 74, 1);
    color: var(--color-fontSecondary);
    margin-bottom: 22px;
    margin-top: 40px;
}

h3 {
    font-size: 15px;
    line-height: 22px;
    font-weight: 600;
    letter-spacing: -0.002em;
    color: rgba(74, 74, 74, 1);
    color: var(--color-fontSecondary);
    margin-bottom: 22px;
    margin-top: 33px;
}

ol, ul {
    padding-left: 0;
}

ol ol, ol ul, ul ol, ul ul {
    padding-left: 22px;
}

ol li, ul li {
    position: relative;
    font-size: 13px;
    line-height: 22px;
}

ol li::before, ul li::before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: rgba(74, 74, 74, 1);
    border-radius: 50%;
    left: -18px;
    top: 10px;
}

@media (min-width: 576px) {
    ol li::before, ul li::before {
        left: -22px;
    }
}

button {
    display: inline-block;
    text-align: left;
    vertical-align: top;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background-color: transparent;
    border: none;
    font-weight: 500;
    color: rgba(155, 155, 155, 1);
    color: var(--color-fontSecondary-light);
    padding: 0;
    font-size: 13px;
    line-height: 22px;
    transition: color .15s ease-in-out,
                background-color .15s ease-in-out,
                border-color .15s ease-in-out,
                box-shadow .15s ease-in-out;
}

button:hover {
    color: rgba(74, 74, 74, 1);
    color: var(--color-fontSecondary);
    text-decoration: none;
}

button:focus, button.focus {
    outline: 0;
    box-shadow: 0 0 0 .2rem rgba(0, 82, 155, .2);
    box-shadow: 0 0 0 .2rem var(--color-blue-20);
}

button.disabled, button:disabled {
    opacity: .65;
}

button:not(:disabled):not(.disabled) {
    cursor: pointer;
}

